[Unit]
Description=Jetson Aerial Tracking Node
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=jetson
WorkingDirectory=/home/jetson/jetson_edge
Environment="DISPLAY=:0"
ExecStart=/usr/bin/docker run --rm --ipc=host --network host --runtime nvidia -v /home/jetson:/home/jetson jetson_edge_image python3 /home/jetson/jetson_edge/jetson_edge_node.py --video 0

Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=aerial_tracker

[Install]
WantedBy=multi-user.target
